body {
    background: linear-gradient(90deg, rgb(255, 242, 242) 25%, rgba(174, 241, 255, 1) 100%);
}

.test_project_main {
    background: linear-gradient(90deg, rgb(255, 242, 242) 25%, rgba(174, 241, 255, 1) 100%);

}

.test_project_content {
    position: fixed;
    inset: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.test_project_card {
    display: flex;
    justify-content: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.test_project_title_contents {
    margin: 75px 100px;
}
.test_project_title_contents_text>h6{
 text-align: center;
}

.test_project_title_button{
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}



.test_project_button {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: 400;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.test_project_button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.test_project_button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}





